.messages{

    left : 'align';
};

.msg_bot{

  position: absolute;
  left: 20%;                
  transform: translateX(-20%); 
}

.msg_user{

    right: 'align';
}



.inputBar {
  display: flex;
  gap: 10px;
  padding: 12px;
  border-top: 1px solid #030303;
  background: #837d7d;
}


.wrapper {
  position: relative;
  height: 100vh; // 예시 (필요한 높이)
}

.textarea {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #965f5f;
  font-size: 14px;
  outline: none;

  position: absolute;
  bottom: 0;
  left: 50%;                
  transform: translateX(-50%); 

  width: 70%;
  resize: none;

  &:focus {
    border-color: #747b86;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
  }
}
